@charset "UTF-8";
/* CSS Document */
/* line 6, ../sass/common.scss */
body {
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  color: #4d4d4d;
  width: 100%;
  font-size: 16px;
  line-height: 1.75em;
  overflow-x: hidden;
}
@media all and (max-width: 1000px) {
  /* line 6, ../sass/common.scss */
  body {
    font-size: 0.875rem;
  }
}
@media all and (max-width: 1500px) {
  /* line 6, ../sass/common.scss */
  body {
    font-size: 0.75rem;
  }
}
@media all and (max-width: 1000px) {
  /* line 6, ../sass/common.scss */
  body {
    font-size: 0.625rem;
  }
}
/* line 26, ../sass/common.scss */
body a {
  color: #fff;
  text-decoration: none;
}
/* line 30, ../sass/common.scss */
body a:hover {
  text-decoration: none;
}
/* line 35, ../sass/common.scss */
body img {
  border: none;
  line-height: 100%;
  vertical-align: bottom;
}
