/* CSS Document */
/* line 6, ../sass/header_nav.scss */
header {
  background: #000;
  overflow: hidden;
  display: flex;
}
/* line 11, ../sass/header_nav.scss */
header h1 {
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 1;
}
/* line 14, ../sass/header_nav.scss */
header h1 img {
  width: 8%;
  min-width: 70px;
  height: auto;
}
/* line 21, ../sass/header_nav.scss */
header #form {
  display: block;
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 1;
  width: 0;
  height: 0;
  border-top: 100px solid rgba(255, 153, 0, 0.8);
  border-right: 100px solid rgba(255, 153, 0, 0.8);
  border-bottom: 100px solid transparent;
  border-left: 100px solid transparent;
  color: #fff;
  font-size: 125%;
  font-weight: bold;
  text-align: right;
}
/* line 35, ../sass/header_nav.scss */
header #form div {
  margin: -80px 0 0 -5.5em;
  width: 10em;
}
@media all and (max-width: 1000px) {
  /* line 21, ../sass/header_nav.scss */
  header #form {
    font-size: 2em;
    line-height: 125%;
  }
}
/* line 46, ../sass/header_nav.scss */
header .slidebox {
  display: flex;
}
/* line 49, ../sass/header_nav.scss */
header .slidebox .slider {
  opacity: 0.5;
  position: relative;
}

/* line 56, ../sass/header_nav.scss */
nav {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  width: 100%;
  color: #000099;
  margin-top: -4em;
  text-align: center;
}
@media all and (max-width: 1000px) {
  /* line 56, ../sass/header_nav.scss */
  nav {
    margin-top: -10em;
  }
}
/* line 67, ../sass/header_nav.scss */
nav h2 img {
  width: 461px;
  height: 142px;
}
@media all and (max-width: 1000px) {
  /* line 67, ../sass/header_nav.scss */
  nav h2 img {
    width: 230px;
    height: 71px;
  }
}
/* line 77, ../sass/header_nav.scss */
nav .menu-trigger {
  display: none;
}
/* line 81, ../sass/header_nav.scss */
nav #global {
  margin-top: 1em;
  color: gray;
  display: flex;
  justify-content: center;
}
@media all and (max-width: 1000px) {
  /* line 81, ../sass/header_nav.scss */
  nav #global {
    width: 230px;
    margin: 1.5em auto 0 auto;
    text-align: left;
    flex-direction: column;
  }
}
/* line 94, ../sass/header_nav.scss */
nav #global li {
  font-weight: bold;
  text-shadow: #fff 2px 2px 2px, #fff -2px 2px 2px, #fff 2px -2px 2px, #fff -2px -2px 2px;
  margin: 0 2em;
}
@media all and (max-width: 1000px) {
  /* line 94, ../sass/header_nav.scss */
  nav #global li {
    font-size: 125%;
    margin: 0 0 0.3em 3em;
  }
}
/* line 104, ../sass/header_nav.scss */
nav #global li a {
  color: #0278d2;
  vertical-align: text-bottom;
}
/* line 108, ../sass/header_nav.scss */
nav #global li a span {
  margin-right: 0.5em;
  font-size: 1em;
  text-shadow: none;
}
/* line 114, ../sass/header_nav.scss */
nav #global li a em {
  font-style: normal;
}
/* line 118, ../sass/header_nav.scss */
nav #global li a:hover {
  color: #3daafd;
}
/* line 123, ../sass/header_nav.scss */
nav #global li.cu a {
  color: #3daafd;
}
/* line 129, ../sass/header_nav.scss */
nav.ver2 {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0;
  transition: margin-top 1s ease 1s;
}
/* line 141, ../sass/header_nav.scss */
nav.ver2 h2 {
  margin: 0;
  width: 20%;
  min-width: 180px;
  text-align: left;
}
/* line 147, ../sass/header_nav.scss */
nav.ver2 h2 img {
  width: 100%;
  max-width: 180px;
  height: auto;
  margin: 0;
}
@media all and (max-width: 1000px) {
  /* line 157, ../sass/header_nav.scss */
  nav.ver2 h2 {
    width: 90%;
  }
  /* line 161, ../sass/header_nav.scss */
  nav.ver2 .menu-trigger {
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    width: 10%;
  }
  /* line 167, ../sass/header_nav.scss */
  nav.ver2 .menu-trigger span {
    height: 3px;
    background-color: #0278d2;
    border-radius: 3px;
    margin: 0.7em;
    width: 3em;
    display: block;
    transition: all .4s;
    box-sizing: border-box;
  }
  /* line 180, ../sass/header_nav.scss */
  nav.ver2 .menu-trigger.on span:nth-of-type(1) {
    transform: translateY(0.99em) rotate(-315deg);
  }
  /* line 184, ../sass/header_nav.scss */
  nav.ver2 .menu-trigger.on span:nth-of-type(2) {
    opacity: 0;
  }
  /* line 188, ../sass/header_nav.scss */
  nav.ver2 .menu-trigger.on span:nth-of-type(3) {
    transform: translateY(-0.99em) rotate(315deg);
  }
  /* line 193, ../sass/header_nav.scss */
  nav.ver2 .menu-trigger i {
    font-size: 1.25em;
    display: block;
    margin: -2em 0 0 -7em;
  }
}
/* line 201, ../sass/header_nav.scss */
nav.ver2 #global {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}
@media all and (max-width: 1000px) {
  /* line 201, ../sass/header_nav.scss */
  nav.ver2 #global {
    display: none;
    width: 100%;
  }
}
/* line 213, ../sass/header_nav.scss */
nav #prev {
  position: fixed;
  top: 40%;
  right: 1.5%;
  z-index: 1;
  display: none;
  text-align: center;
  cursor: pointer;
  text-shadow: #fff 2px 2px 2px, #fff -2px 2px 2px, #fff 2px -2px 2px, #fff -2px -2px 2px;
}
/* line 220, ../sass/header_nav.scss */
nav #prev:hover {
  color: #0278d2;
}
@media all and (max-width: 1000px) {
  /* line 213, ../sass/header_nav.scss */
  nav #prev {
    display: none;
  }
}
/* line 229, ../sass/header_nav.scss */
nav #next {
  position: fixed;
  top: 50%;
  right: 1.5%;
  z-index: 1;
  text-align: center;
  cursor: pointer;
  text-shadow: #fff 2px 2px 2px, #fff -2px 2px 2px, #fff 2px -2px 2px, #fff -2px -2px 2px;
}
/* line 235, ../sass/header_nav.scss */
nav #next:hover {
  color: #0278d2;
}
@media all and (max-width: 1000px) {
  /* line 229, ../sass/header_nav.scss */
  nav #next {
    display: none;
  }
}
