@charset "UTF-8";
/* CSS Document */
/* line 6, ../sass/main.scss */
article {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  border-top: #053f88 solid 5px;
}
/* line 14, ../sass/main.scss */
article h3 {
  font-weight: normal;
  font-size: 2em;
  padding: 2em;
  background-color: #0278d2;
  color: #fff;
  text-align: center;
  width: 100%;
}
/* line 23, ../sass/main.scss */
article h3 span {
  margin-right: 1em;
}
/* line 26, ../sass/main.scss */
article h3 span .fa-inverse {
  color: #0278d2;
}
/* line 32, ../sass/main.scss */
article h4 {
  margin: 0 auto 3em auto;
  color: #0278d2;
  font-size: 1.5em;
  text-align: center;
  line-height: 2em;
}
/* line 40, ../sass/main.scss */
article table {
  border: 1px solid #cccccc;
  border-collapse: collapse;
  background-color: #fff;
  width: 100%;
}
/* line 46, ../sass/main.scss */
article table caption {
  width: auto;
  font-weight: bold;
  line-height: 100%;
  padding: 3em 0 1em 0;
  color: #0278d2;
}
/* line 53, ../sass/main.scss */
article table caption:before {
  content: "－ ";
}
/* line 57, ../sass/main.scss */
article table caption:after {
  content: " －";
}
/* line 62, ../sass/main.scss */
article table thead {
  background-color: #0278d2;
  color: #fff;
}
/* line 67, ../sass/main.scss */
article table tbody tr:nth-child(even) {
  background: #b3b3b3;
}
/* line 71, ../sass/main.scss */
article table th {
  border-right: 1px dotted #999999;
  padding: 0.5em;
}
/* line 76, ../sass/main.scss */
article table td {
  text-align: left;
  border-right: 1px dotted #999999;
  padding: 0.5em;
}
/* line 84, ../sass/main.scss */
article > section {
  flex: 1 1 500px;
  padding: 5em 5%;
  width: 50%;
}
@media all and (max-width: 700px) {
  /* line 84, ../sass/main.scss */
  article > section {
    padding: 3em 1em;
  }
}
@media all and (max-width: 1000px) {
  /* line 84, ../sass/main.scss */
  article > section {
    padding: 3em 1em;
  }
}
/* line 93, ../sass/main.scss */
article > section:nth-of-type(4n-1), article > section:nth-of-type(4n-2) {
  background: #e6e6e6;
}
/* line 97, ../sass/main.scss */
article > section.info {
  text-align: center;
}
/* line 100, ../sass/main.scss */
article > section.info > a {
  width: 50%;
  display: block;
  color: #fff;
  background-color: #F00;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
}
/* line 109, ../sass/main.scss */
article > section.info > a:hover {
  background-color: rgba(255, 0, 0, 0.7);
}
/* line 114, ../sass/main.scss */
article > section.info ul {
  text-align: left;
  display: block;
  font-size: 100%;
  font-weight: bold;
}
/* line 120, ../sass/main.scss */
article > section.info ul li {
  display: block;
  border: none;
  background: none;
  text-indent: -1.5em;
  padding-left: 1.5em;
}
/* line 127, ../sass/main.scss */
article > section.info ul li:before {
  content: "※ ";
}
/* line 131, ../sass/main.scss */
article > section.info ul li:hover {
  background: none;
}
/* line 135, ../sass/main.scss */
article > section.info ul li a {
  display: inline !important;
  color: #0278d2 !important;
  padding: 0 !important;
}
/* line 144, ../sass/main.scss */
article > section dl {
  border: 1px solid #ccc;
  margin: 1em 0 2em 0;
  padding: 1em;
}
/* line 149, ../sass/main.scss */
article > section dl dt {
  background: none;
  color: #0278d2;
  font-weight: bold;
}
/* line 155, ../sass/main.scss */
article > section dl dd a {
  background: none;
  padding: 0;
  width: auto;
  display: inline;
  color: #0278d2;
  text-decoration: underline;
}
/* line 163, ../sass/main.scss */
article > section dl dd a:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: #3daafd;
}
/* line 170, ../sass/main.scss */
article > section#news dl, article > article > section#best dl {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-wrap: wrap;
}
/* line 178, ../sass/main.scss */
article > section#news dl dt, article > article > section#best dl dt {
  width: 20%;
  padding: 1em 0.5em;
  border-bottom: dotted 1px #4d4d4d;
}
/* line 183, ../sass/main.scss */
article > section#news dl dt:first-of-type, article > article > section#best dl dt:first-of-type {
  padding-top: 0;
}
/* line 188, ../sass/main.scss */
article > section#news dl dd, article > article > section#best dl dd {
  width: 80%;
  border-bottom: dotted 1px #4d4d4d;
  padding: 1em 0.5em;
}
/* line 193, ../sass/main.scss */
article > section#news dl dd:first-of-type, article > article > section#best dl dd:first-of-type {
  padding-top: 0;
}
/* line 199, ../sass/main.scss */
article > section ol {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
}
/* line 207, ../sass/main.scss */
article > section ol li {
  flex: 1 1 150px;
  list-style: none;
  border: 1px solid #ccc;
  margin: 2em 1em 0 1em;
}
/* line 213, ../sass/main.scss */
article > section ol li dl {
  border: none;
  margin: 0;
  padding: 0;
}
/* line 218, ../sass/main.scss */
article > section ol li dl dt {
  background-color: #0278d2;
  color: #fff;
  padding: 1em;
}
/* line 224, ../sass/main.scss */
article > section ol li dl dd {
  margin: 1em;
}
/* line 227, ../sass/main.scss */
article > section ol li dl dd a {
  background: #0a94fd;
  padding: 1em;
  display: block;
  color: #fff;
}
/* line 233, ../sass/main.scss */
article > section ol li dl dd a i {
  margin-right: 0.5em;
  font-size: 1.25em;
}
/* line 238, ../sass/main.scss */
article > section ol li dl dd a:hover {
  background-color: #3daafd;
}
/* line 247, ../sass/main.scss */
article > section ul {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  font-size: 1.25em;
}
/* line 256, ../sass/main.scss */
article > section ul li {
  flex: 1 1 200px;
  list-style: none;
  border: 1px solid #ccc;
  background-color: #0a94fd;
}
/* line 262, ../sass/main.scss */
article > section ul li:hover {
  background-color: #3daafd;
}
/* line 266, ../sass/main.scss */
article > section ul li a {
  display: block;
  list-style: none;
  color: #fff;
  padding: 2em 1em 0 1em;
}
/* line 272, ../sass/main.scss */
article > section ul li a i {
  display: block !important;
  padding-bottom: 0.5em !important;
}
/* line 281, ../sass/main.scss */
article .caution {
  font-weight: normal;
  color: #F00;
}
/* line 285, ../sass/main.scss */
article .caution:before {
  content: "※ ";
}
/* line 289, ../sass/main.scss */
article .caution:nth-of-type(1) {
  margin-top: 1em;
}
/* line 294, ../sass/main.scss */
article p {
  margin: 1.5em auto 0 auto;
}
/* line 298, ../sass/main.scss */
article #tab {
  margin: 5em 3em 0 2em;
  display: flex;
  align-items: flex-end;
}
@media all and (max-width: 700px) {
  /* line 298, ../sass/main.scss */
  article #tab {
    margin: 3em 1em 0 1em;
  }
}
@media all and (max-width: 1000px) {
  /* line 298, ../sass/main.scss */
  article #tab {
    margin: 3em 1em 0 1em;
  }
}
/* line 307, ../sass/main.scss */
article #tab li {
  vertical-align: bottom;
}
/* line 310, ../sass/main.scss */
article #tab li a {
  display: block;
  margin-left: 1em;
  padding: 1em 2em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}
@media all and (max-width: 700px) {
  /* line 310, ../sass/main.scss */
  article #tab li a {
    margin-left: 0.5em;
  }
}
@media all and (max-width: 1000px) {
  /* line 310, ../sass/main.scss */
  article #tab li a {
    margin-left: 0.5em;
  }
}
/* line 323, ../sass/main.scss */
article #tab li a#mens {
  background-color: #40acfd;
}
/* line 327, ../sass/main.scss */
article #tab li a#women {
  background-color: #fd407f;
}
/* line 331, ../sass/main.scss */
article #tab li a#tug {
  background-color: #e59702;
}
/* line 335, ../sass/main.scss */
article #tab li a.current {
  padding: 1.5em 3em;
  font-size: 1.5em;
}
/* line 343, ../sass/main.scss */
article .contents {
  margin: 0 3em 5em 3em;
  clear: both;
  width: 100%;
  overflow: hidden;
}
@media all and (max-width: 700px) {
  /* line 343, ../sass/main.scss */
  article .contents {
    margin: 0 1em 5em 1em;
  }
}
@media all and (max-width: 1000px) {
  /* line 343, ../sass/main.scss */
  article .contents {
    margin: 0 1em 5em 1em;
  }
}
/* line 353, ../sass/main.scss */
article .contents#tabBox1 {
  border-top: #40acfd solid 3px;
}
/* line 356, ../sass/main.scss */
article .contents#tabBox1 caption {
  color: #40acfd;
}
/* line 360, ../sass/main.scss */
article .contents#tabBox1 thead {
  background-color: #40acfd;
  color: #fff;
}
/* line 366, ../sass/main.scss */
article .contents#tabBox2 {
  border-top: #fd407f solid 3px;
}
/* line 369, ../sass/main.scss */
article .contents#tabBox2 caption {
  color: #fd407f;
}
/* line 373, ../sass/main.scss */
article .contents#tabBox2 thead {
  background-color: #fd407f;
  color: #fff;
}
/* line 379, ../sass/main.scss */
article .contents#tabBox3 {
  border-top: #e59702 solid 3px;
}
/* line 382, ../sass/main.scss */
article .contents#tabBox3 caption {
  color: #e59702;
}
/* line 386, ../sass/main.scss */
article .contents#tabBox3 thead {
  background-color: #e59702;
  color: #fff;
}
