@charset "UTF-8";
/* CSS Document */
/* line 6, ../sass/main.scss */
article {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  border-top: #053f88 solid 5px;
}
/* line 14, ../sass/main.scss */
article h3 {
  font-weight: normal;
  font-size: 2em;
  padding: 2em;
  background-color: #0278d2;
  color: #fff;
  text-align: center;
  width: 100%;
}
/* line 23, ../sass/main.scss */
article h3 span {
  margin-right: 1rem;
}
/* line 26, ../sass/main.scss */
article h3 span .fa-inverse {
  color: #0278d2;
}
/* line 32, ../sass/main.scss */
article h4 {
  margin: 0 auto 3em auto;
  color: #0278d2;
  font-size: 1.5em;
  text-align: center;
  line-height: 2rem;
}
/* line 40, ../sass/main.scss */
article > section {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 500px;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  padding: 5em 3%;
  width: 50%;
}
@media all and (max-width: 700px) {
  /* line 40, ../sass/main.scss */
  article > section {
    padding: 3em 1em;
  }
}
/* line 49, ../sass/main.scss */
article > section:nth-child(odd) {
  background: #f2f2f2;
}
/* line 53, ../sass/main.scss */
article > section dl {
  border: 1px solid #cccccc;
  margin: 1rem 0;
  padding: 1rem;
}
/* line 58, ../sass/main.scss */
article > section dl dt {
  background: none;
  color: #0762d2;
  font-weight: bold;
  margin-bottom: 1em;
}
/* line 65, ../sass/main.scss */
article > section dl dd a {
  background: none;
  padding: 0;
  width: auto;
  display: inline;
  color: #0278d2;
  text-decoration: underline;
}
/* line 73, ../sass/main.scss */
article > section dl dd a:hover {
  background-color: rgba(2, 120, 210, 0.7);
  color: #fff;
}
/* line 82, ../sass/main.scss */
article > section#news dl, article > section#best dl {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: none;
}
/* line 88, ../sass/main.scss */
article > section#news dl dt, article > section#best dl dt {
  float: left;
  clear: left;
  width: 9em;
  padding: 1em 0 0 0.5em;
}
/* line 94, ../sass/main.scss */
article > section#news dl dt:first, article > section#best dl dt:first {
  margin-top: 0;
}
/* line 99, ../sass/main.scss */
article > section#news dl dd, article > section#best dl dd {
  border-bottom: dotted 1px #4d4d4d;
  padding: 1em 0 1em 9em;
}
/* line 103, ../sass/main.scss */
article > section#news dl dd:first, article > section#best dl dd:first {
  margin-top: 0;
}
/* line 110, ../sass/main.scss */
article > section.info {
  text-align: center;
}
/* line 113, ../sass/main.scss */
article > section.info > a {
  display: block;
  color: #fff;
  background-color: #F00;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
}
/* line 121, ../sass/main.scss */
article > section.info > a:hover {
  background-color: rgba(255, 0, 0, 0.7);
}
/* line 126, ../sass/main.scss */
article > section.info ul {
  text-align: left;
  display: block;
  font-size: 100%;
  font-weight: bold;
}
/* line 132, ../sass/main.scss */
article > section.info ul li {
  display: block;
  border: none;
  background: none;
  text-indent: -1.5em;
  padding-left: 1.5em;
}
/* line 139, ../sass/main.scss */
article > section.info ul li:before {
  content: "※ ";
}
/* line 143, ../sass/main.scss */
article > section.info ul li:hover {
  background: none;
}
/* line 150, ../sass/main.scss */
article > section ol {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
/* line 158, ../sass/main.scss */
article > section ol li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 150px;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
  list-style: none;
  border: 1px solid #cccccc;
  margin: 2em 1em 0 1em;
}
/* line 164, ../sass/main.scss */
article > section ol li dl {
  border: none;
  margin: 0;
  padding: 0;
}
/* line 169, ../sass/main.scss */
article > section ol li dl dt {
  background-color: #0762d2;
  color: #fff;
  padding: 1em;
}
/* line 175, ../sass/main.scss */
article > section ol li dl dd {
  margin: 1rem;
}
/* line 178, ../sass/main.scss */
article > section ol li dl dd a {
  background: #0a94fd;
  padding: 1rem;
  display: block;
  color: #fff;
}
/* line 184, ../sass/main.scss */
article > section ol li dl dd a i {
  margin-right: 0.5rem;
  font-size: 1.25em;
}
/* line 189, ../sass/main.scss */
article > section ol li dl dd a:hover {
  background-color: #3daafd;
}
/* line 198, ../sass/main.scss */
article > section ul {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  font-size: 1.25em;
}
/* line 207, ../sass/main.scss */
article > section ul li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 150px;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
  list-style: none;
  border: 1px solid #cccccc;
  background-color: #0a94fd;
}
/* line 213, ../sass/main.scss */
article > section ul li:hover {
  background-color: #3daafd;
}
/* line 217, ../sass/main.scss */
article > section ul li a {
  display: block;
  list-style: none;
  color: #fff;
  padding: 2em 1em 0 1em;
}
/* line 223, ../sass/main.scss */
article > section ul li a i {
  display: block !important;
  padding-bottom: 0.5em !important;
}
/* line 232, ../sass/main.scss */
article p {
  margin: 1.5em auto;
}
/* line 235, ../sass/main.scss */
article p.caution {
  font-weight: normal;
  color: #F00;
}
/* line 241, ../sass/main.scss */
article #tab {
  margin: 5em 3em 0 2em;
  display: table;
}
@media all and (max-width: 700px) {
  /* line 241, ../sass/main.scss */
  article #tab {
    margin: 3em 1em 0 1em;
  }
}
/* line 249, ../sass/main.scss */
article #tab li {
  display: table-cell;
  vertical-align: bottom;
}
/* line 253, ../sass/main.scss */
article #tab li a {
  display: block;
  margin-left: 1em;
  padding: 1em 2em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}
@media all and (max-width: 700px) {
  /* line 253, ../sass/main.scss */
  article #tab li a {
    margin-left: 0.5em;
  }
}
/* line 266, ../sass/main.scss */
article #tab li a#mens {
  background-color: #40acfd;
}
/* line 270, ../sass/main.scss */
article #tab li a#women {
  background-color: #fd407f;
}
/* line 274, ../sass/main.scss */
article #tab li a#tug {
  background-color: #e59702;
}
/* line 278, ../sass/main.scss */
article #tab li a.current {
  padding: 1.5em 3em;
  font-size: 1.5em;
}
/* line 286, ../sass/main.scss */
article .contents {
  margin: 0 3em 5em 3em;
  clear: both;
  width: 100%;
  overflow: hidden;
}
@media all and (max-width: 700px) {
  /* line 286, ../sass/main.scss */
  article .contents {
    margin: 0 1em 5em 1em;
  }
}
/* line 296, ../sass/main.scss */
article .contents table {
  border: #ddd 1px solid;
  border-collapse: collapse;
  background-color: #fff;
  width: 100%;
}
/* line 302, ../sass/main.scss */
article .contents table caption {
  width: auto;
  font-weight: bold;
  line-height: 100%;
  padding: 3em 0 1em 0;
}
/* line 309, ../sass/main.scss */
article .contents table tbody tr:nth-child(even) {
  background: #f2f2f2;
}
/* line 313, ../sass/main.scss */
article .contents table th, article .contents table td {
  border-right: #ccc dotted 1px;
  padding: 0.5em;
}
/* line 319, ../sass/main.scss */
article .contents#tabBox1 {
  border-top: #40acfd solid 3px;
}
/* line 322, ../sass/main.scss */
article .contents#tabBox1 caption {
  color: #40acfd;
}
/* line 326, ../sass/main.scss */
article .contents#tabBox1 thead {
  background-color: #40acfd;
  color: #fff;
}
/* line 332, ../sass/main.scss */
article .contents#tabBox2 {
  border-top: #fd407f solid 3px;
}
/* line 335, ../sass/main.scss */
article .contents#tabBox2 caption {
  color: #fd407f;
}
/* line 339, ../sass/main.scss */
article .contents#tabBox2 thead {
  background-color: #fd407f;
  color: #fff;
}
/* line 345, ../sass/main.scss */
article .contents#tabBox3 {
  border-top: #e59702 solid 3px;
}
/* line 348, ../sass/main.scss */
article .contents#tabBox3 caption {
  color: #e59702;
}
/* line 352, ../sass/main.scss */
article .contents#tabBox3 thead {
  background-color: #e59702;
  color: #fff;
}

/* line 360, ../sass/main.scss */
.ie8 #news, .ie8 #best {
  background-color: rgba(255, 255, 255, 0.7);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#99FFFFFF,EndColorStr=#99FFFFFF);
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#99FFFFFF,EndColorStr=#99FFFFFF)";
}
