//width&height ------------------

$max: 100%;

$sv: 700px;

$nf: 940px;

$th: 1000px;

$of: 1500px;

//-------------------------------



//color -------------------------

$white: #fff;

$black: #000;

$blue: #0278d2;

//-------------------------------



//background ------------------------------------------------------------

$back: rgba(#FFF,0.3);

@mixin Back {
	background-color: $back;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#55FFFFFF,EndColorStr=#55FFFFFF);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#55FFFFFF,EndColorStr=#55FFFFFF)";
}

//-----------------------------------------------------------------------



//position -------------------------

@mixin abT($top,$left,$z) {
	position: absolute;
	top: $top;
	left: $left;
	z-index: $z;
}

@mixin abB($bottom,$right,$z) {
	position: absolute;
	bottom: $bottom;
	right: $right;
	z-index: $z;
}

@mixin fixT($top,$right,$z) {
	position: fixed;
	top: $top;
	right: $right;
	z-index: $z;
}

@mixin fixB($bottom,$right,$z) {
	position: fixed;
	bottom: $bottom;
	right: $right;
	z-index: $z;
}

@mixin fixL($top,$left,$z) {
	position: fixed;
	top: $top;
	left: $left;
	z-index: $z;
}

$r: relative;

//---------------------------------



//img path ------------------------

$ip: '../img/';

//---------------------------------


//media query ---------------------
 
@mixin media($mediaSize) {
  @if $mediaSize <= $th{
    @media all and (max-width: $th) {
      @content
    }
  }
  
  @else if $mediaSize <= $of{
    @media all and (max-width: $of) {
      @content
    }
  }
  
}

//---------------------------------