@charset "utf-8";
/* CSS Document */

@import "settings";

footer,footer a {
	color: $white;
	background-color: $blue;
	
	 ul {
		margin: 0 auto;
		padding: 1.5em 0;
	}
	
	small {
		display: block;
		text-align: right;
		font-size: 1em * 0.9;
		margin-top: -1em * 1.8;
	}
}