@charset "utf-8";
/* CSS Document */

@import "settings";

header {
	background	: $black;
	overflow	: hidden;
	
	h1 {
		@include abT(1rem,1rem,1);
		
		img {
			width		: $max * 0.08;
			min-width	: 70px;
			height		: auto;
		}
	}
	
	#form {
		display			: block;
		@include abR(0,0,1);
		width			: 0;
		height			: 0;
		border-top		: 100px solid rgba(255 , 153 , 0 , 0.8);
		border-right	: 100px solid rgba(255 , 153 , 0 , 0.8);
		border-bottom	: 100px solid transparent;
		border-left		: 100px solid transparent;
		color			: $white;
		font-size		: 1.25em;
		font-weight		: bold;
		text-align		: right;
		
		div {
			margin: -80px 0 0 -5.5em;
			width : 10em; 
		}
		
		@include media($s) {
			font-size	: 2em;
			line-height : 1.25em;
		}
	}
	
	.slider {
		display	: table;
		opacity	: 0.7;
		position: relative;
		z-index	: 0;
		
		ul {
			display: table-cell;
			
			li {
				display		: inline;
				white-space	: nowrap;
				
				img {
					line-height		: 100%;
					vertical-align	: bottom;
				}
			}
		}
	}
}

nav {
	@include abT(50%,0,1);
	width		: $max;
	color		: $blue2;
	margin-top	: -4rem;
	text-align	: center;
		
	@include media($s) {
		margin-top	: -10em;
	}

	h2 img {
		width : 461px;
		height: 142px;
		
		@include media($s) {
			width : 230px;
			height: 71px;
		}
	}
	
	#global {
		margin-top	: 1rem;
		color		: lighten($black , 30%);
		
		@include media($s) {
			width		: 230px;
			margin		: 1.5em auto 0 auto;
			text-align	: left;
		}
	
		li {
			display		: inline-block;
			padding		: 0 1em;
			font-weight : bold;
			text-shadow : $white 2px 2px 2px, $white -2px 2px 2px, $white 2px -2px 2px, $white -2px -2px 2px;
		
			@include media($s) {
				display		: block;
				font-size	: $max * 1.25;
				margin		: 0 0 0.3em 3em;
				text-shadow : $white 1px 1px 1px, $white -1px 1px 1px, $white 1px -1px 1px, $white -1px -1px 1px;
			}
				
			&:hover {
				color: $blue;
			}
			
			a {
				vertical-align: text-bottom;
			
				span {
					margin-right: 0.5em;
					font-size	: 1em;
					text-shadow	: none;
				}
				
				&:hover {
					color: $blue;
				}
				
				em {
					font-style: normal;
				}
			}
			
			&.cu {
				color: lighten($blue , 10%);
				
				a {
					color: lighten($blue , 10%);
				}
			}
		}
	}
	
	&.ver2 {
		background-color: $back;
		@include fixL(0,0,2);
		padding			: 0.5em;
		display			: table;
		margin-top		: 0;
		transition		: margin-top 1s ease 1s;
		vertical-align	: bottom;
		
		h2 {
			margin		: 0;
			width		: $max * 0.2;
			min-width	: 120px;
			display		: table-cell;
			text-align	: left;
		
			img {
				width		: $max;
				max-width	: 200px;
				height		: auto;
				margin		: 0;
			}
		}
		
		#global {
			margin			: 0;
			padding-right	: 0.5em;
			text-align		: right;
			display			: table-cell;
		
			@include media($s) {
				width : auto;
				margin: 0;
				
				li {
					display : inline;
					margin	: 0;
					padding : 0;
				}
			}
			
			li {
				font-weight: normal;
					
				@include media($th) {
					
					display: inline-block;
					
					em {
						display: none;
					}
				}
			}
		}
	}
		
	#prev {
		@include fixT(40%,1.5%,1);
		display		: none;
		text-align	: center;
		cursor		: pointer;
		text-shadow : $white 2px 2px 2px, $white -2px 2px 2px, $white 2px -2px 2px, $white -2px -2px 2px;
				
		&:hover {
			color: $blue;
		}
		
		@include media($s) {
			display: none !important;
		}
	}
	
	#next {
		@include fixT(50%,1.5%,1);
		text-align	: center;
		cursor		: pointer;
		text-shadow : $white 2px 2px 2px, $white -2px 2px 2px, $white 2px -2px 2px, $white -2px -2px 2px;
				
		&:hover {
			color: $blue;
		}
		
		@include media($s) {
			display: none !important;
		}
	}
}

.ie8 #global.ver2,.ie8 #info {
	@include Back;
}