@charset "utf-8";
/* CSS Document */

@import "settings";

header {
	background	: $black;
	overflow	: hidden;
	display		: flex;
	
	h1 {
		@include abT(1em,1em,1);
		
		 img {
			width	 : $max * 0.08;
			min-width: 70px;
			height	 : auto;
		}
	}

	#form {
		display		 : block;
		@include abT(1em,1em,1);
		width		 : 0;
		height		 : 0;
		border-top	 : 100px solid rgba(255, 153, 0, 0.8);
		border-right : 100px solid rgba(255, 153, 0, 0.8);
		border-bottom: 100px solid transparent;
		border-left	 : 100px solid transparent;
		color		 : $white;
		font-size	 : $max * 1.25;
		font-weight	 : bold;
		text-align	 : right;
		
		div {
			margin: -80px 0 0 -5.5em;
			width : 10em;
		}
	
		@include media($th) {
			font-size	: 2em;
			line-height : $max *1.25;
		}
	}
	
	.slidebox {
		display	: flex;
		
		.slider {
			opacity	: 0.5;
			position: $r;
		}
	}
}

nav {
	@include abT(50%,0,1);
	width		: $max;
	color		: darken(blue , 20%);
	margin-top	: -4em;
	text-align	: center;
	
	@include media($th) {
		margin-top: -10em;
	}
	
	h2 img {
		width : 461px;
		height: 142px;
		
		@include media($fv) {
			width: 230px;
			height: 71px;
		}
	}
	
	.menu-trigger {
		display : none;
		position: $r;
	}
	
	.new {
		@include abR(-0.5em,-1.6em,0);
		font-size		: 0.8em !important;
		width			: 1.2em !important;
		height			: 1.2em !important;
		font-weight		: normal;
		text-align		: center;
		line-height		: 0.8em;
		color			: $white;
		background-color: #F00 !important;
		border-radius	: 0.6em !important;
		padding-top		: 0.3em;
		border			: none;
		
		@include media($sv) {
			@include abR(0.5em,0,0);
		}
	}
	
	#global {
		margin-top		: 1em;
		color			: lighten($black , 50%);
		display			: flex;
		justify-content	: center;
		
		@include media($sv) {
			width			: 230px;
			margin			: 1.5em auto 0 auto;
			text-align		: left;
			flex-direction	: column;
		}
	
		li {
			font-weight	: bold;
			text-shadow	: #fff 2px 2px 2px, #fff -2px 2px 2px, #fff 2px -2px 2px, #fff -2px -2px 2px;
			margin		: 0 2em;
			position	: $r;
			
			@include media($fv) {
				font-size: $max * 1.25;
    			margin	 : 0 0 0.3em 3em;
			}
			
			a {
				color	: $blue;
				display	: block;
				position: $r;
				
				
				span {
					margin-right: 0.5em;
					font-size	: 1em;
					text-shadow	: none;
				}
				
				em {
					font-style: normal;
				}
				
				&:hover {
					color: lighten($blue , 20%);
				}
			}
			
			&.cu a {
				color: lighten($blue , 20%);
			}
		}
	}
	
	&.ver2 {
		@include fixT(0,0,2);
		width			: $max;
		background-color: $back;
		padding			: 0.5em;
		display			: flex;
		justify-content	: space-between;
		align-items		: center;
		flex-wrap		: wrap;
		margin-top		: 0;
		transition		: margin-top 1s ease 1s;
		
		h2 {
			margin	  : 0;
			width	  : $max * 0.2;
			min-width : 180px;
			text-align: left;
			
			img {
				width	 : $max;
				max-width: 180px;
				height	 : auto;
				margin	 : 0;
			}
		}
		
		#global {
			display			: flex;
			justify-content	: flex-end;
			width			: $max * 0.8;
		}
			
		@include media($th) {
			
			h2 {
				width: $max * 0.88;
			}
			
			.menu-trigger {
				display		: block;
				cursor		: pointer;
				box-sizing	: border-box;
				width		: $max * 0.12;
							
				span {
					height			: 3px;
					background-color: $blue;
					border-radius	: 3px;
					margin			: 0.7em;
					width			: 3em;
					display			: block;
					transition		: all .4s;
					box-sizing		: border-box;
					
					&.new {
						@include abR(-0.5em,1em,0);
					}
				}
				
				&.on {
					
					span:nth-of-type(1) {
						transform: translateY(0.99em) rotate(-315deg);
					}
					
					span:nth-of-type(2) {
						opacity: 0;
					}
					
					span:nth-of-type(3) {
						transform: translateY(-0.99em) rotate(315deg);
					}
				}
				
				i {
					font-size: 1.25em;
					display	 : block;
					margin	 : -2em 0 0 -10em;
					
					@include media($fv) {
						display: none;
					}
				}
			}
			
			#global {
				display			: none;
				width			: $max;
				flex-direction	: row;
					
				@include media($sv) {
					flex-direction: column;
				}
			}
		}
	}
	
	#prev {
		@include fixT(40%,1.5%,1);
		display		: none;
		text-align	: center;
		cursor		: pointer;
		text-shadow	: #fff 2px 2px 2px, #fff -2px 2px 2px, #fff 2px -2px 2px, #fff -2px -2px 2px;
		
		&:hover {
			color: $blue;
		}
		
		@include media($fv) {
			display: none;
		}
	}
	
	#next {
		@include fixT(50%,1.5%,1);
		text-align	: center;
		cursor		: pointer;
		text-shadow	: #fff 2px 2px 2px, #fff -2px 2px 2px, #fff 2px -2px 2px, #fff -2px -2px 2px;
		
		&:hover {
			color: $blue;
		}
		
		@include media($fv) {
			display: none;
		}
	}
}