@charset "utf-8";
/* CSS Document */

@import "settings";

header {
	background	: $black;
	overflow	: hidden;
	display		: flex;
	
	h1 {
		@include abT(1em,1em,1);
		
		 img {
			width	 : $max * 0.08;
			min-width: 70px;
			height	 : auto;
		}
	}

	#form {
		display		 : block;
		@include abT(1em,1em,1);
		width		 : 0;
		height		 : 0;
		border-top	 : 100px solid rgba(255, 153, 0, 0.8);
		border-right : 100px solid rgba(255, 153, 0, 0.8);
		border-bottom: 100px solid transparent;
		border-left	 : 100px solid transparent;
		color		 : $white;
		font-size	 : $max * 1.25;
		font-weight	 : bold;
		text-align	 : right;
		
		div {
			margin: -80px 0 0 -5.5em;
			width : 10em;
		}
	
		@include media($sv) {
			font-size	: 2em;
			line-height : $max *1.25;
		}
	}
	
	.slidebox {
		display	: flex;
		width	: 1050px;
		
		.slider {
			opacity	: 0.5;
			position: $r;
		}
	}
}

nav {
	@include abT(50%,0,1);
	width		: $max;
	color		: darken(blue , 20%);
	margin-top	: -4em;
	text-align	: center;
	
	@include media($sv) {
		margin-top: -10em;
	}
	
	h2 img {
		width : 461px;
		height: 142px;
		
		@include media($sv) {
			width: 230px;
			height: 71px;
		}
	}
	
	#global {
		margin-top		: 1em;
		color			: lighten($black , 50%);
		display			: flex;
		justify-content	: center;
		
		@include media($sv) {
			width			: 230px;
			margin			: 1.5em auto 0 auto;
			text-align		: left;
			flex-direction	: column;
		}
	
		li {
			font-weight	: bold;
			text-shadow	: #fff 2px 2px 2px, #fff -2px 2px 2px, #fff 2px -2px 2px, #fff -2px -2px 2px;
			margin		: 0 2em;
			
			@include media($sv) {
				font-size: $max * 1.25;
    			margin	 : 0 0 0.3em 3em;
			}
			
			a {
				color: $blue;
				vertical-align: text-bottom;
				
				span {
					margin-right: 0.5em;
					font-size	: 1em;
					text-shadow	: none;
				}
				
				em {
					font-style: normal;
				}
				
				&:hover {
					color: lighten($blue , 20%);
				}
			}
			
			&.cu a {
				color: lighten($blue , 20%);
			}
		}
	}
	
	&.ver2 {
		@include fixT(0,0,2);
		background-color: $back;
		padding			: 0.5em;
		display			: flex;
		justify-content	: space-between;
		margin-top		: 0;
		transition		: margin-top 1s ease 1s;
		
		h2 {
			margin	 : 0;
			width	 : $max / 5;
			min-width: 120px;
			
			img {
				width	 : $max;
				max-width: 200px;
				height	 : auto;
				margin	 : 0;
			}
		}
	
		.menu-trigger {
			display: none;
			
			@include media($sv) {
				width		: $max / 5;
				cursor		: pointer;
				text-align	: center;
				padding		: $max*0.008 $max*0.01;
			}
		}
		
		#global {
			margin: 0.5em 0 0 20em;
			
			@include media($sv) {
				display: none;
			}
			
			@include media($th) {
				li em {
					display: none;
				}
			}
		}
	}
	
	#prev {
		@include fixT(40%,1.5%,1);
		display		: none;
		text-align	: center;
		cursor		: pointer;
		text-shadow	: #fff 2px 2px 2px, #fff -2px 2px 2px, #fff 2px -2px 2px, #fff -2px -2px 2px;
		
		&:hover {
			color: $blue;
		}
		
		@include media($sv) {
			display: none;
		}
	}
	
	#next {
		@include fixT(50%,1.5%,1);
		text-align	: center;
		cursor		: pointer;
		text-shadow	: #fff 2px 2px 2px, #fff -2px 2px 2px, #fff 2px -2px 2px, #fff -2px -2px 2px;
		
		&:hover {
			color: $blue;
		}
		
		@include media($sv) {
			display: none;
		}
	}
}