@charset "utf-8";
/* CSS Document */

@import "settings";

article {
	display			: flex;
	flex-flow		: row wrap;
	justify-content	: center;
	align-items		: stretch;
	align-content	: flex-start;
	border-top		: #053f88 solid 5px;
	
	h3 {
		font-weight		: normal;
		font-size		: 2em;
		padding			: 2em;
		background-color: $blue;
		color			: $white;
		text-align		: center;
		width			: $max;
		
		span {
			margin-right: 1em;
			
			.fa-inverse {
				color: $blue;
			}
		}
	}
	
	h4 {
		margin		: 0 auto 3em auto;
		color		: $blue;
		font-size	: 1.5em;
		text-align	: center;
		line-height	: 2em;
	}
	
	table {
		border			: 1px solid #cccccc;
		border-collapse	: collapse;
		background-color: $white;
		width			: $max;
		
		caption {
			width		: auto;
			font-weight	: bold;
			line-height	: $max;
			padding		: 3em 0 1em 0;
			color		: $blue;
			
			&:before {
				content: "－ ";
			}
			
			&:after {
				content: " －";
			}
		}
		
		thead {
			background-color: $blue;
			color			: $white;
		}
		
		 tbody tr:nth-child(even) {
			background: lighten($black , 95%);
		}
		
		th {
			border-right: 1px dotted #999999;
			padding		: 0.5em;
		}
		
		 td {
			text-align	: left;
			border-right: 1px dotted #999999;
			padding		: 0.5em;
		 }
			
	}
	
	& > section {
		flex	: 1 1 500px;
		padding	: 5em $max/20;
		width	: $max / 2;
		
		@include media($fv) {
			 padding: 3em 1em;
		}
		
		&:nth-of-type(4n-1) , &:nth-of-type(4n-2) {
			background: lighten($black , 90%);
		}
		
		&.info {
			text-align: center;
			
			& > a {
				width			: $max / 2;
				display			: block;
				color			: $white;
				background-color: #F00;
				margin			: 0 auto;
				padding			: 1em;
				text-align		: center;
				
				&:hover {
					background-color: rgba(255, 0, 0, 0.7);
				}
			}
			
			ul {
				text-align	: left;
				display		: block;
				font-size	: $max;
				font-weight	: bold;
				
				li {
					display		: block;
					border		: none;
					background	: none;
					
					&:hover {
						background: none;
					}
					
					a {
						display	: inline !important;
						color	: $blue !important;
						padding	: 0 !important;
					}
				}
			}
		}
		
		dl {
			border	: 1px solid #ccc;
			margin	: 1em 0 2em 0;
			padding	: 1em;
			
			dt {
				background	 : none;
				color		 : $blue;
				font-weight	 : bold;
			}
			
			dd a {
				background		: none;
				padding			: 0;
				width			: auto;
				display			: inline;
				color			: $blue;
				text-decoration	: underline;
				
				&:hover {
					background-color: $back;
					color: lighten($blue , 20%);
				}
			}
		}
		
		&#news dl, article > &#best dl {
			overflow : hidden;
			margin	 : 0;
			padding	 : 0;
			border	 : none;
			display	 : flex;
			flex-wrap: wrap;
			
			dt {
				width			: $max * 0.2;
				padding		 	: 1em 0.5em;
 				border-bottom	: dotted 1px #4d4d4d;
				 
				 &:first-of-type {
					padding-top: 0;
				}
			}
			
			dd {
				width		 : $max * 0.8;
				border-bottom: dotted 1px #4d4d4d;
				padding		 : 1em 0.5em;
				
				&:first-of-type {
					padding-top: 0;
				}
			}
		}
		
		 ol {
			text-align		: center;
			display			: flex;
			flex-flow		: row wrap;
			justify-content	: center;
			align-items		: stretch;
			align-content	: flex-start;
			
			li {
				flex		: 1 1 150px;
				list-style	: none;
				border		: 1px solid #ccc;
				margin		: 2em 1em 0 1em;
				
				 dl {
					border : none;
					margin : 0;
					padding: 0;
					
					dt {
						background-color: $blue;
						color			: $white;
						padding			: 1em;
					}
					
					dd {
						margin: 1em;
						
						a {
							background	: #0a94fd;
							padding		: 1em;
							display		: block;
							color		: $white;
							
							i {
								margin-right: 0.5em;
								font-size	: 1.25em;
							}
							
							&:hover {
								background-color: #3daafd;
							}
						}
					}
				}
			}
		}
		
		ul {
			text-align		: center;
			display			: flex;
			flex-flow		: row wrap;
			justify-content	: center;
			align-items		: stretch;
			align-content	: flex-start;
			font-size		: 1.25em;
			
			li {
				flex			: 1 1 200px;
				list-style		: none;
				border			: 1px solid #ccc;
				background-color: #0a94fd;
				
				&:hover {
					background-color: #3daafd;
				}
				
				a {
					display		: block;
					list-style	: none;
					color		: $white;
					padding		: 2em 1em 0 1em;
					
					i {
						display			: block !important;
						padding-bottom	: 0.5em !important;
					}
				}
			}
		}
	}
	
	.caution {
		font-weight	: normal;
		color		: #F00;
		text-indent	: -1.5em;
		padding-left: 1.5em;
		
		&:before {
			content: "※ ";
		}
		
		&:nth-of-type(1) {
			margin-top: 1em;
		}
	}
	
	p {
		margin: 1.5em auto 0 auto;
	}
	
	#tab {
		margin			: 5em 3em 0 2em;
		display			: flex;
		justify-content	: center;
		align-items		: flex-end;
		width: $max;
		
		@include media($fv) {
			margin: 3em 1em 0 1em;
		}
		
		li {
			
			a {
				display		: block;
				margin-left	: 1em;
				padding		: 1em 2em;
				text-align	: center;
				color		: $white;
				cursor		: pointer;
				font-weight	: bold;
		
				@include media($fv) {
					margin-left: 0.5em;
				}
				
				&#mens {
					background-color: #40acfd;
				}
				
				&#women {
					background-color: #fd407f;
				}
				
				&#tug {
					background-color: #e59702;
				}
				
				&.current {
					padding	 : 1.5em 3em;
					font-size: 1.5em;
				}
			}
		}
	}
	
	.contents {
		margin	: 0 3em 5em 3em;
		width	: 100%;
		overflow: hidden;
		
		@include media($fv) {
			margin: 0 1em 5em 1em;
		}
		
		&#tabBox1 {
			border-top: #40acfd solid 3px;
			
			caption {
				color: #40acfd;
			}
			
			thead {
				background-color: #40acfd;
				color			: $white;
			}
		}
		
		&#tabBox2 {
			border-top: #fd407f solid 3px;
			
			caption {
				color: #fd407f;
			}
			
			thead {
				background-color: #fd407f;
				color			: $white;
			}
		}
		
		&#tabBox3 {
			border-top: #e59702 solid 3px;
			
			caption {
				color: #e59702;
			}
			
			thead {
				background-color: #e59702;
				color			: $white;
			}
		}
	}
}