@charset "UTF-8";
/* CSS Document */
/* line 6, ../sass/main.scss */
article {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  border-top: #053f88 solid 5px;
}
/* line 14, ../sass/main.scss */
article h3 {
  font-weight: normal;
  font-size: 2em;
  padding: 2em;
  background-color: #0278d2;
  color: #fff;
  text-align: center;
  width: 100%;
}
/* line 23, ../sass/main.scss */
article h3 span {
  margin-right: 1rem;
}
/* line 26, ../sass/main.scss */
article h3 span .fa-inverse {
  color: #0278d2;
}
/* line 32, ../sass/main.scss */
article h4 {
  margin: 0 auto 3em auto;
  color: #0278d2;
  font-size: 1.5em;
  text-align: center;
  line-height: 2rem;
}
/* line 40, ../sass/main.scss */
article table {
  border: 1px solid #cccccc;
  border-collapse: collapse;
  background-color: #fff;
  width: 100%;
}
/* line 46, ../sass/main.scss */
article table caption {
  width: auto;
  font-weight: bold;
  line-height: 100%;
  padding: 3em 0 1em 0;
  color: #0278d2;
}
/* line 53, ../sass/main.scss */
article table caption:before {
  content: "－ ";
}
/* line 57, ../sass/main.scss */
article table caption:after {
  content: " －";
}
/* line 62, ../sass/main.scss */
article table thead {
  background-color: #0762d2;
  color: #fff;
}
/* line 67, ../sass/main.scss */
article table tbody tr:nth-child(even) {
  background: #ededed;
}
/* line 71, ../sass/main.scss */
article table th, article table td {
  border-right: 1px dotted #999999;
  padding: 0.5em;
}
/* line 76, ../sass/main.scss */
article table td {
  text-align: left;
}
/* line 81, ../sass/main.scss */
article > section {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 500px;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  padding: 5em 3%;
  width: 50%;
}
@media all and (max-width: 700px) {
  /* line 81, ../sass/main.scss */
  article > section {
    padding: 3em 1em;
  }
}
/* line 90, ../sass/main.scss */
article > section:nth-of-type(4n-1), article > section:nth-of-type(4n-2) {
  background: #fafafa;
}
/* line 94, ../sass/main.scss */
article > section dl {
  border: 1px solid #cccccc;
  margin: 1em 0;
  padding: 1em;
}
/* line 99, ../sass/main.scss */
article > section dl dt {
  background: none;
  color: #0762d2;
  font-weight: bold;
  margin-bottom: 1em;
}
/* line 106, ../sass/main.scss */
article > section dl dd a {
  background: none;
  padding: 0;
  width: auto;
  display: inline;
  color: #0278d2;
  text-decoration: underline;
}
/* line 114, ../sass/main.scss */
article > section dl dd a:hover {
  background-color: rgba(2, 120, 210, 0.7);
  color: #fff;
}
/* line 123, ../sass/main.scss */
article > section#news dl, article > section#best dl {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: none;
}
/* line 129, ../sass/main.scss */
article > section#news dl dt, article > section#best dl dt {
  float: left;
  clear: left;
  width: 9em;
  padding: 1em 0 0 0.5em;
}
/* line 135, ../sass/main.scss */
article > section#news dl dt:first-of-type, article > section#best dl dt:first-of-type {
  padding-top: 0;
}
/* line 140, ../sass/main.scss */
article > section#news dl dd, article > section#best dl dd {
  border-bottom: dotted 1px #4d4d4d;
  padding: 1em 0 1em 9em;
}
/* line 144, ../sass/main.scss */
article > section#news dl dd:first-of-type, article > section#best dl dd:first-of-type {
  padding-top: 0;
}
/* line 151, ../sass/main.scss */
article > section.info {
  text-align: center;
}
/* line 154, ../sass/main.scss */
article > section.info > a {
  width: 50%;
  display: block;
  color: #fff;
  background-color: #F00;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
}
/* line 163, ../sass/main.scss */
article > section.info > a:hover {
  background-color: rgba(255, 0, 0, 0.7);
}
/* line 168, ../sass/main.scss */
article > section.info ul {
  text-align: left;
  display: block;
  font-size: 100%;
  font-weight: bold;
}
/* line 174, ../sass/main.scss */
article > section.info ul li {
  display: block;
  border: none;
  background: none;
  text-indent: -1.5em;
  padding-left: 1.5em;
}
/* line 181, ../sass/main.scss */
article > section.info ul li:before {
  content: "※ ";
}
/* line 185, ../sass/main.scss */
article > section.info ul li:hover {
  background: none;
}
/* line 189, ../sass/main.scss */
article > section.info ul li a {
  display: inline !important;
  color: #0278d2 !important;
  padding: 0 !important;
}
/* line 198, ../sass/main.scss */
article > section ol {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
/* line 206, ../sass/main.scss */
article > section ol li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 150px;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
  list-style: none;
  border: 1px solid #cccccc;
  margin: 2em 1em 0 1em;
}
/* line 212, ../sass/main.scss */
article > section ol li dl {
  border: none;
  margin: 0;
  padding: 0;
}
/* line 217, ../sass/main.scss */
article > section ol li dl dt {
  background-color: #0762d2;
  color: #fff;
  padding: 1em;
}
/* line 223, ../sass/main.scss */
article > section ol li dl dd {
  margin: 1rem;
}
/* line 226, ../sass/main.scss */
article > section ol li dl dd a {
  background: #0a94fd;
  padding: 1rem;
  display: block;
  color: #fff;
}
/* line 232, ../sass/main.scss */
article > section ol li dl dd a i {
  margin-right: 0.5rem;
  font-size: 1.25em;
}
/* line 237, ../sass/main.scss */
article > section ol li dl dd a:hover {
  background-color: #3daafd;
}
/* line 246, ../sass/main.scss */
article > section ul {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  font-size: 1.25em;
}
/* line 255, ../sass/main.scss */
article > section ul li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 200px;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  list-style: none;
  border: 1px solid #cccccc;
  background-color: #0a94fd;
}
/* line 261, ../sass/main.scss */
article > section ul li:hover {
  background-color: #3daafd;
}
/* line 265, ../sass/main.scss */
article > section ul li a {
  display: block;
  list-style: none;
  color: #fff;
  padding: 2em 1em 0 1em;
}
/* line 271, ../sass/main.scss */
article > section ul li a i {
  display: block !important;
  padding-bottom: 0.5em !important;
}
/* line 279, ../sass/main.scss */
article .caution {
  font-weight: normal;
  color: #F00;
}
/* line 283, ../sass/main.scss */
article .caution:before {
  content: "※ ";
}
/* line 287, ../sass/main.scss */
article .caution:nth-of-type(1) {
  margin-top: 1em;
}
/* line 292, ../sass/main.scss */
article p {
  margin: 1.5em auto 0 auto;
}
/* line 296, ../sass/main.scss */
article #tab {
  margin: 5em 3em 0 2em;
  display: table;
}
@media all and (max-width: 700px) {
  /* line 296, ../sass/main.scss */
  article #tab {
    margin: 3em 1em 0 1em;
  }
}
/* line 304, ../sass/main.scss */
article #tab li {
  display: table-cell;
  vertical-align: bottom;
}
/* line 308, ../sass/main.scss */
article #tab li a {
  display: block;
  margin-left: 1em;
  padding: 1em 2em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}
@media all and (max-width: 700px) {
  /* line 308, ../sass/main.scss */
  article #tab li a {
    margin-left: 0.5em;
  }
}
/* line 321, ../sass/main.scss */
article #tab li a#mens {
  background-color: #40acfd;
}
/* line 325, ../sass/main.scss */
article #tab li a#women {
  background-color: #fd407f;
}
/* line 329, ../sass/main.scss */
article #tab li a#tug {
  background-color: #e59702;
}
/* line 333, ../sass/main.scss */
article #tab li a.current {
  padding: 1.5em 3em;
  font-size: 1.5em;
}
/* line 341, ../sass/main.scss */
article .contents {
  margin: 0 3em 5em 3em;
  clear: both;
  width: 100%;
  overflow: hidden;
}
@media all and (max-width: 700px) {
  /* line 341, ../sass/main.scss */
  article .contents {
    margin: 0 1em 5em 1em;
  }
}
/* line 351, ../sass/main.scss */
article .contents#tabBox1 {
  border-top: #40acfd solid 3px;
}
/* line 354, ../sass/main.scss */
article .contents#tabBox1 caption {
  color: #40acfd;
}
/* line 358, ../sass/main.scss */
article .contents#tabBox1 thead {
  background-color: #40acfd;
  color: #fff;
}
/* line 364, ../sass/main.scss */
article .contents#tabBox2 {
  border-top: #fd407f solid 3px;
}
/* line 367, ../sass/main.scss */
article .contents#tabBox2 caption {
  color: #fd407f;
}
/* line 371, ../sass/main.scss */
article .contents#tabBox2 thead {
  background-color: #fd407f;
  color: #fff;
}
/* line 377, ../sass/main.scss */
article .contents#tabBox3 {
  border-top: #e59702 solid 3px;
}
/* line 380, ../sass/main.scss */
article .contents#tabBox3 caption {
  color: #e59702;
}
/* line 384, ../sass/main.scss */
article .contents#tabBox3 thead {
  background-color: #e59702;
  color: #fff;
}

/* line 392, ../sass/main.scss */
.ie8 #news, .ie8 #best {
  background-color: rgba(255, 255, 255, 0.7);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#99FFFFFF,EndColorStr=#99FFFFFF);
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#99FFFFFF,EndColorStr=#99FFFFFF)";
}
